<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="36" android:compileSdkVersionCodename="16" package="nikka.neurolwp.project" platformBuildVersionCode="36" platformBuildVersionName="16">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application android:allowBackup="false" android:debuggable="true" android:icon="@mipmap/ic_launcher" android:label="@string/kustom_dashboard_title" android:roundIcon="@mipmap/ic_launcher_round">
        <provider android:authorities="nikka.neurolwp.project.kustom.provider" android:exported="true" android:name="org.kustom.api.Provider">
            <intent-filter>
                <action android:name="org.kustom.provider.WALLPAPERS"/>
            </intent-filter>
        </provider>
        <activity android:label="@string/kustom_dashboard_title" android:name="org.kustom.api.dashboard.DashboardActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.SET_WALLPAPER"/>
            </intent-filter>
        </activity>
        <activity android:name="org.kustom.api.dashboard.ImagePreviewActivity" android:theme="@style/KustomDashboardTheme.Translucent"/>
    </application>
</manifest>
